<div class="spinner-overlay" *ngIf="loading">
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  
  <app-navigation>
    <div class="container">
      <br>
      <h2>Crear puntaje</h2>
      <br>
      <div class="container">
        <form [formGroup]="newForm" (ngSubmit)="postForm(newForm.value)">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="idEmpleado">Empleado <b style="color: red;">*</b></label>
                <mat-select class="form-control" formControlName="idEmpleado" placeholder="---SELECCIONE---"
                  [ngClass]="{
                    'is-invalid': newForm.get('idEmpleado')?.invalid && (newForm.get('idEmpleado')?.touched || newForm.get('idEmpleado')?.dirty),
                    'is-valid': newForm.get('idEmpleado')?.valid && (newForm.get('idEmpleado')?.touched || newForm.get('idEmpleado')?.dirty)
                  }">
                  <mat-option *ngFor="let empleado of empleado" [value]="empleado.idEmpleado">
                    {{ empleado.nombre }}
                  </mat-option>
  
                </mat-select>
                <div *ngIf="newForm.get('idEmpleado')?.errors?.['required']" class="invalid-feedback">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>
            <div class="col">
                <div class="form-group">
                  <label for="idPremio">Premio <b style="color: red;">*</b></label>
                  <mat-select class="form-control" formControlName="idPremio" placeholder="---SELECCIONE---"
                    [ngClass]="{
                      'is-invalid': newForm.get('idPremio')?.invalid && (newForm.get('idPremio')?.touched || newForm.get('idPremio')?.dirty),
                      'is-valid': newForm.get('idPremio')?.valid && (newForm.get('idPremio')?.touched || newForm.get('idPremio')?.dirty)
                    }">
                    <mat-option *ngFor="let premio of premio" [value]="premio.idPremio">
                      {{ premio.nombre }}
                    </mat-option>
    
                  </mat-select>
                  <div *ngIf="newForm.get('idPremio')?.errors?.['required']" class="invalid-feedback">
                    Este campo es obligatorio.
                  </div>
                </div>
              </div>
            </div>
  
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleFormControlInput1">Puntaje <b style="color: red;">*</b></label>
                <input type="text" class="form-control" formControlName="puntaje" [ngClass]="{
                  'is-invalid': newForm.get('puntaje')?.invalid && (newForm.get('puntaje')?.touched || newForm.get('puntaje')?.dirty),
                  'is-valid': newForm.get('puntaje')?.valid && (newForm.get('puntaje')?.touched || newForm.get('puntaje')?.dirty)
                }">
                <div *ngIf="newForm.get('puntaje')?.errors?.['required']" class="invalid-feedback">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>
          </div>
  
          <button type="button" mat-raised-button color="accent" (click)="goBack()">Atrás</button> |
          <button type="submit" mat-raised-button color="primary" [disabled]="newForm.invalid">Guardar</button>
          <br><br>
        </form>
      </div>
    </div>
  </app-navigation>
  
  <ng-template #viewMap>
    <div id="map" style="width: 100%; height: 400px;"></div>
  </ng-template>