<div class="spinner-overlay" *ngIf="loading">
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>

<app-navigation>
    <div class="container">
        <br>
        <h2>Editar empleado</h2>
        <br>
        <div class="container">
            <form [formGroup]="editForm" (ngSubmit)="postForm(editForm.value)">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Nombre <b style="color: red;">*</b></label>
                            <input type="text" class="form-control" formControlName="nombre" [ngClass]="{
                                'is-invalid': editForm.get('nombre')?.invalid && (editForm.get('nombre')?.touched || editForm.get('nombre')?.dirty),
                                'is-valid': editForm.get('nombre')?.valid && (editForm.get('nombre')?.touched || editForm.get('nombre')?.dirty)
                                }">
                            <div *ngIf="editForm.get('nombre')?.errors?.['required']" class="invalid-feedback">
                                Este campo es obligatorio.
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Teléfono <b style="color: red;">*</b></label>
                            <input type="text" class="form-control" formControlName="telefono" [ngClass]="{
                            'is-invalid': editForm.get('telefono')?.invalid && (editForm.get('telefono')?.touched || editForm.get('telefono')?.dirty),
                            'is-valid': editForm.get('telefono')?.valid && (editForm.get('telefono')?.touched || editForm.get('telefono')?.dirty)
                          }">

                            <div *ngIf="editForm.get('telefono')?.errors?.['pattern']" class="invalid-feedback">
                                Teléfono inválido, debe contener 10 dígitos numéricos.
                            </div>

                            <div *ngIf="editForm.get('telefono')?.errors?.['required']" class="invalid-feedback">
                                Este campo es obligatorio.
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Correo <b style="color: red;">*</b></label>
                            <input type="text" class="form-control" formControlName="correo" [ngClass]="{
                            'is-invalid': editForm.get('correo')?.invalid && (editForm.get('correo')?.touched || editForm.get('correo')?.dirty),
                            'is-valid': editForm.get('correo')?.valid && (editForm.get('correo')?.touched || editForm.get('correo')?.dirty)
                          }">

                            <div *ngIf="editForm.get('correo')?.errors?.['pattern']" class="invalid-feedback">
                                Correo inválido.
                            </div>

                            <div *ngIf="editForm.get('correo')?.errors?.['required']" class="invalid-feedback">
                                Este campo es obligatorio.
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center">
                            <div class="form-group flex-grow-1">
                                <label for="exampleFormControlInput1">Dirección <b style="color: red;">*</b></label>
                                <input type="text" class="form-control" formControlName="direccion" #inputPlaces
                                    [ngClass]="{
                              'is-invalid': editForm.get('direccion')?.invalid && (editForm.get('direccion')?.touched || editForm.get('direccion')?.dirty),
                              'is-valid': editForm.get('direccion')?.valid && (editForm.get('direccion')?.touched || editForm.get('direccion')?.dirty)
                            }">
                                <div *ngIf="editForm.get('direccion')?.errors?.['required']"
                                    class="invalid-feedback">
                                    Este campo es obligatorio.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br>

                <button type="button" mat-raised-button color="accent" (click)="goBack()">Atrás</button> |
                <button type="submit" mat-raised-button color="primary" [disabled]="editForm.invalid">Editar</button>
                <br><br>
            </form>
        </div>
    </div>
</app-navigation>